= form_tag sessions_path, :method => :post do
  .field
    = label_tag :email
    = text_field_tag :email

  .field
    =label_tag :password
    = password_field_tag :password

  .field
    = label_tag :remember_me
    = check_box_tag :remember_me, 1, params[:remember_me]

  .actions
    = submit_tag "Login"

  = link_to 'Forgot Password?', new_password_reset_path
